{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin view user")}}
			</div>
		</div>
	</div>
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "admin.repositories"}}
		<div class="ui right">
			{{.ReposTotal}}
		</div>
	</h4>
	<div class="ui attached segment">
		{{template "explore/repo_list" .}}
	</div>
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "settings.organization"}}
		<div class="ui right">
			{{.OrgsTotal}}
		</div>
	</h4>
	<div class="ui attached segment">
		{{template "explore/user_list" .}}
	</div>
</div>

{{template "admin/layout_footer" .}}
