{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="home-logo">
		<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
	</div>
	<div class="ui container home-trending">
		<h2 class="home-trending-title">
			{{svg "octicon-flame" 20}}
			{{ctx.Locale.Tr "startpage.trending_repos"}}
			<a class="home-trending-more" href="{{AppSubUrl}}/explore/repos">{{ctx.Locale.Tr "startpage.explore_more"}}</a>
		</h2>
		{{template "explore/repo_list" .}}
	</div>
</div>
{{template "base/footer" .}}
